@use '../../root/variables.module.scss' as *;

.emotions_notes {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .header_text {
        color: white;
    }

    h1 {
        font-size: 50px;
    }

    .header_name {
        background: linear-gradient(to right, #ff7e5f, #feb47b);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 80px;
    }

    textarea {
        font-family: $font-primary;
        outline: none;
        border: none;
        border-radius: 10px;
        font-size: 18px;
        padding: 20px;
        height: 250px;
        width: 800px;
        font-weight: 500;
    }

    .line_1 {
        position: relative;
        top: 50%;
        width: 24em;
        margin: 0 auto;
        border-right: 2px solid rgba(255,255,255,.75);
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%);
    }
    /* Animation */
    .anim_typewriter {
        animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
    }

    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 24em;
        }
    }

    @keyframes blinkTextCursor {
        from {
            border-right-color: rgba(255,255,255,.75);
        }

        to {
            border-right-color: transparent;
        }
    }
}
