<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="React Router Fix" stopProcessing="true">
					<match url="^(?!.*\.(js|css|png|jpg|jpeg|gif|svg|ico|json|woff|woff2|ttf|eot|otf|mp4|webm|ogg|mp3|wav|flac|aac|m4a|webp|pdf|txt|xml|zip|tar|gzip|rar|exe|pptx|docx|xlsx|rtf|md|csv|yaml|yaml|ts|map)).*$" />
					<action type="Rewrite" url="/" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
